<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="images/png" href="../favicon.png"> <!--Favicon-->
</head>
<body class="body-contacto">
    <!--Barra de naveacion de la web-->
    <header class="header-views">
        <nav>
            <img src="../assets/images/logotipo.png" alt="logo de surf" height="2000" width="2000" class="logo-views">
            <ul>
                <li><a href="../index.html" class="otros">Inicio</a></li>
                <li><a href="../views/productos.html" class="otros">Galeria</a></li>
                <li><a href="../views/presupuesto.html" class="otros">Presupuesto</a></li>
                <li><a href="#" class="indice">Contacto</a></li>
            </ul>  
        </nav>
    </header>
    <!--Seccion principal Mapa ubicacion-->
    <main class="main-contacto">
        <div class="contenedor-contacto"> <!--Contenedor de la Seccion-->
            <img src="../assets/images/ubicacion-escuela-surf.jpg" alt="mapa ubicacion" width="897" height="748">
            <div class="contenido-contacto">
                <h1>Catch the wave</h1>
                <h2>Encontranos aca</h2>
                <p>Hotel Cinco. Colonia Chapadmalal Parador Hotel 5,<br><br> B7605 Mar del Plata, Provincia de Buenos Aires, Argentina.</p>
            </div>
        </div>
    </main>
    <!--Pie de Pagina-->
    <footer>
        <a href="https://www.instagram.com/"><img src="../assets/images/logo-instagram.webp" alt="logo-instagram" height="2048" width="2048"></a>
        <a href="https://es-la.facebook.com/login/device-based/regular/login/"><img src="../assets/images/logo-facebook.png" alt="logo-facebook" height="600" width="600"></a>
        <a href="https://www.youtube.com/"><img src="../assets/images/logo-youtube.png" alt="logo-youtube" height="200" width="200"></a>
        <p class="derechos">
            Todos los derechos reservados &#169; <br>
            Cath the wave 2018. Colonia Chapadmalal Parador Hotel 5, B7605 Mar del Plata, Provincia de Buenos Aires, Argentina <br>
            galguito@gmail.com. 0341-155-996600. <br>
            Aviso legal: derechos de privacidad, terminos y condiciones
        </p>
    </footer>
</body>
</html>