<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="icon" type="images/png" href="../favicon.png"> <!--Favicon-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body class="body-productos">
    <!--Barra de naveacion de la web-->
    <header class="header-views">
        <nav>
            <img src="../assets/images/logotipo.png" alt="logo de surf" height="2000" width="2000" class="logo-views">
            <ul>
                <li><a href="../index.html" class="otros">Inicio</a></li>
                <li><a href="#" class="indice">Galeria</a></li>
                <li><a href="../views/presupuesto.html" class="otros">Presupuesto</a></li>
                <li><a href="../views/contacto.html" class="otros">Contacto</a></li>
            </ul>  
        </nav>
    </header>
    <!--Nombre marca-->
    <h1 class="h1-productos">Catch the wave</h1>
    <!--Seccion 1 Tablas-->
    <section class="section-tablas">
        <h2>Tablas</h2>
        <div class="tablas-productos"> <!--Contenedor de la Seccion Tablas-->
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla1.jpg" alt="tabla de surf" height="700" width="700" class="tabla">
                <h3 class="h3-tarjeta">Tabla 1</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla2.jpg" alt="tabla de surf" height="1200" width="676" class="tabla">
                <h3 class="h3-tarjeta">Tabla 2</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla3.jpg" alt="tabla de surf" height="700" width="700" class="tabla">
                <h3 class="h3-tarjeta">Tabla 3</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla4.jpg" alt="tabla de surf" height="510" width="510" class="tabla">
                <h3 class="h3-tarjeta">Tabla 4</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla5.jpg" alt="tabla de surf" height="500" width="500" class="tabla">
                <h3 class="h3-tarjeta">Tabla 5</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla6.jpg" alt="tabla de surf" height="275" width="183" class="tabla">
                <h3 class="h3-tarjeta">Tabla 6</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla7.webp" alt="tabla de surf" height="1200" width="1200" class="tabla">
                <h3 class="h3-tarjeta">Tabla 7</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="tarjeta-tablas"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/tabla8.webp" alt="tabla de surf" height="1200" width="1200" class="tabla">
                <h3 class="h3-tarjeta">Tabla 8</h3>
                <p class="parrafo">Medidas de la tabla</p>
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
            </div>
            <div class="flecha-arriba"> <!--Flecha para volver a la barra de Navegacion-->
                <a href="#"><img src="../assets/images/flecha-arriba.png" alt="flecha para arriba" width="384" height="384" class="flechita"></a>
            </div>
        </div>
    </section>
    <!--Seccion 2 Neoprenos-->
    <section class="section-neoprenos">
        <h2>Neoprenos</h2>
        <div class="neoprenos-productos"> <!--Contenedor de la seccion Neoprenos-->
            <div class="tarjeta-neoprenos"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/neopreno1.webp" alt="traje de neopreno" height="700" width="700" class="neopreno">
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
                <h3 class="h3-neopreno">Neopreno 1</h3>
                <p class="parrafo-neopreno">Grosor neopreno</p>
            </div>
            <div class="tarjeta-neoprenos"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/neopreno2.jpg" alt="traje de neopreno" height="537" width="358" class="neopreno">
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
                <h3 class="h3-neopreno">Neopreno 2</h3>
                <p class="parrafo-neopreno">Grosor neopreno</p>
            </div>
            <div class="tarjeta-neoprenos"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/neopreno3.jpg" alt="traje de neopreno" height="1372" width="1200" class="neopreno">
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
                <h3 class="h3-neopreno">Neopreno 3</h3>
                <p class="parrafo-neopreno">Grosor neopreno</p>
            </div>
            <div class="tarjeta-neoprenos"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/neopreno4.jpg" alt="traje de neopreno" height="480" width="480" class="neopreno">
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
                <h3 class="h3-neopreno">Neopreno 4</h3>
                <p class="parrafo-neopreno">Grosor neopreno</p>
            </div>
            <div class="tarjeta-neoprenos"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/neopreno5.avif" alt="traje de neopreno" height="800" width="800" class="neopreno">
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
                <h3 class="h3-neopreno">Neopreno 5</h3>
                <p class="parrafo-neopreno">Grosor neopreno</p>
            </div>
            <div class="tarjeta-neoprenos"> <!--Contenedor de cada tarjeta-->
                <img src="../assets/images/nepreno6.jpg" alt="traje de neopreno" height="800" width="800" class="neopreno">
                <img src="../assets/images/arrow-down-direction-svgrepo-com(1).svg" alt="imagen de una flecha" width="50" height="50" class="flecha">
                <h3 class="h3-neopreno">Neopreno 6</h3>
                <p class="parrafo-neopreno">Grosor neopreno</p>
            </div>
        </div>
    </section>
    <!--Pie de Pagina-->
    <footer>
        <a href="#"><img src="../assets/images/logo-instagram.webp" alt="logo-instagram" height="2048" width="2048"></a>
        <a href="#"><img src="../assets/images/logo-facebook.png" alt="logo-facebook" height="600" width="600"></a>
        <a href="#"><img src="../assets/images/logo-youtube.png" alt="logo-youtube" height="200" width="200"></a>

        <p class="derechos">
            Todos los derechos reservados &#169; <br>
            Cath the wave 2018. Colonia Chapadmalal Parador Hotel 5, B7605 Mar del Plata, Provincia de Buenos Aires, Argentina <br>
            galguito@gmail.com. 0341-155-996600. <br>
            Aviso legal: derechos de privacidad, terminos y condiciones
        </p>
    </footer>
</body>
</html>